@{
    ViewData["Title"] = "Home Page";
}

<h2>Products</h2>
@if(Model!=null)
{
    <div class="row">
        @foreach(var product in Model)
        {
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" style="height:150px" src="@product.ImageUrl" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        @if (CurrentUser != null)
                        {
                            <button class="btn btn-primary" onclick="addToCart('@product.ProductId',@product.Name,@product.UnitPrice)">Add to Cart</button>
                        }
                        else
                        {
                            <a href="/Account/Login?returnUrl=/" class="btn btn-primary">Add to Cart</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h2>No Products found!</h2>
}
